*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    user-select: none;
}

body{
    height: 100vh;
    width: 100%;
}

.container{
    width: 100%;
    height: 100%;
    video{
        width: 100%;
        height: 100%;
    }
}

.text-wrap{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    h1{
        background: #000;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12em;
        mix-blend-mode: multiply;
        -webkit-text-stroke: 2px rgba(255, 1, 1, 0.568);
    }
}